/* Light Mode Colours */
:root {
  --bg-color: #ffffff;
  --bg-contrast-color: #f8f9fa;
  --bg-bigcontrast-color: #8a949e;
  --text-color: #333333;
  --card-bg: #f8f9fa;
  --nav-bg: #f8f9fa;
}

/* Dark Mode Colours */
.dark-mode {
  --bg-color: #121212;
  --bg-contrast-color: #181818;
  --bg-bigcontrast-color: #676768;
  --text-color: #e0e0e0;
  --card-bg: #1e1e1e;
  --nav-bg: #1e1e1e;
}

/* Fade In */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
  
}

body.fade-in {
  opacity: 1;
}

.navbar {
  background-color: var(--nav-bg) !important;
}



/* Misc */

hr {
  border: none;
  height: 2px;
  background-color: #524e4e;
  /* Bootstrap bg-light */
  margin: 1rem 0;
  /* Adjust margin as needed */
}

.code-button {
  border: 1px solid #ccc;
  background-color: #f8f9fa;
  color: #333;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  padding: 6px 10px;
  cursor: pointer;
}

.code-button:hover {
  background-color: #e9ecef;
}

.navbar .navbar-brand {
  font-size: 20px;
}

.navbar {
  font-size: 20px;
}

.learn-more-button {
  border: 1px solid #ccc;
  background-color: #f8f9fa;
  color: #333;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  padding: 6px 10px;
  cursor: pointer;
}
.learn-more-button:hover {
  background-color: #e9ecef;
}

/* Theme Switcher */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.theme-switch {
  height: 0;
  width: 0;
  visibility: hidden;
}

.theme-switch+label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60px;
  height: 30px;
  background-color: #ccc;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  padding: 5px;
  box-sizing: border-box;
  transition: background-color 0.3s;
}

.theme-switch+label .sun,
.theme-switch+label .moon {
  font-size: 16px;
}

.theme-switch+label .toggle-circle {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  background: #ffffff;
  border-radius: 50%;
  transition: transform 0.3s;
}

.theme-switch:checked+label {
  background-color: #4f4f4f;
}

.theme-switch:checked+label .toggle-circle {
  transform: translateX(30px);
}


.bg-contrast {
  background-color: var(--bg-contrast-color);
}

.card{
  background-color: var(--card-bg);
}

/* Back To Top Button */
#backToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 0.5em 0.8em;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  background: var(--bg-bigcontrast-color);
  color: white;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  z-index: 1000;
}
#backToTop.visible {
  opacity: 1;
  pointer-events: auto;
}